---
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TheWholePaycheck | A cross functional team of developers and designers</title>

		<!-- IMPORTING FONTS FROM FONTS CDN -->
		<link href="https://fonts.cdnfonts.com/css/switzer" rel="stylesheet"> <!-- SWITZER  -->
		<link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet"> <!-- CLASH DISPLAY  -->

		<!-- GSAP! -->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>

	</head>
	<body>
		<header>
			<Menu/>
		</header>

		<main>
			<Hero/>
		</main>
	</body>

	<footer class="secondary-font">
		<p>&copy; COPYRIGHT - TheWholePaycheck 2023</p>
	</footer>
</html>

<style lang="scss" is:global>
	$accent-color: #e75314;

	footer {
		position: absolute;
		color: white;
		bottom: 10px;
		width: 100%;
		text-align: center;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body,html {
		background-color: $accent-color;
	}

	.primary-font {
		font-family: 'Clash Display', sans-serif;
	}

	.secondary-font {
		font-family: 'Switzer', sans-serif;
	}
</style>