<section>
    <h1 class="primary-font">
      We are a cross functional team of developers & designers helping brands
      create unique experiences.
    </h1>

    <button>SEE WORKS</button>
</section>


<style>
    section {
        padding: 10px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

	h1 {
        text-transform: uppercase;
		color: white;
        font-size: 5vw;
    }

    button {
        padding: 4px;
        
    }
</style>
