---
---

<nav>
    <a href="/">

        <img src="logo.svg" alt="the logo goes here"/>
    </a>

    <div class="menu">
        <a href="/about">About Us</a>
        <a href="/services">Services</a>
        <a href="/works">Works</a>
    </div>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
    }
</style>